---
---

@import "jekyll-theme-minimal";

.container {
  position: relative;
  width: 100%;
  height: 175px;
  margin-bottom: 10px;
}

.img-circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: opacity 0.1s linear;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; 
  margin-bottom: 10px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.img1 {
  background-image: url("../../images/avatar3.jpg"); /* Replace with your image */
  z-index: 1;
  opacity: 1;
}

.img2 {
  background-image: url("../../images/jerry.jpg"); /* Replace with your image */
  z-index: 2;
  opacity: 0;
}

.img3 {
  background-image: url("../../android-chrome-192x192.png"); /* Replace with your image */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain; /* Resize the background image to cover the entire container */
  z-index: -1;
  opacity: 0.5;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 1s ease-in-out;
}

.popup .close {
  position: absolute;
  top: 10px;
  right: 10px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}

.popup .content {
  padding-right: 20px;
  max-height: 30%;
  overflow: auto;
  font: 15px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media screen and (max-width: 960px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
  .image2 {
    opacity: 0 !important;
  }
}
