<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110211172-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-110211172-1');
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <title>Stefanos Angelidis | Personal Page</title>

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="canonical" href="https://stangelid.github.io" />
    <meta name="viewport" content="width=device-width">

    <meta property="og:title" content="Stefanos Angelidis | Personal Page" />
    <meta property="og:image" content="https://stangelid.github.io/images/avatar2.png" />
    <meta property="og:locale" content="en_US" />
    <meta name="description" content="{{ site.long_description }}" />
    <meta name="og:description" content="{{ site.long_description }}" />
    <link rel="canonical" href="https://stangelid.github.io/" />
    <meta property="og:url" content="https://stangelid.github.io/" />
    <meta property="og:site_name" content="Stefanos Angelidis" />
    <script type="application/ld+json">
      {"name":"Stefanos Angelidis","description":"{{ site.long_description }}","author":"Stefanos Angelidis","@type":"WebSite","url":"https://stangelid.github.io/","image":"https://stangelid.github.io/images/avatar2.png","publisher":null,"headline":"Stefanos Angelidis","dateModified":null,"datePublished":null,"sameAs":null,"mainEntityOfPage":null,"@context":"http://schema.org"}
    </script>

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
	  <!--googleoff: snippet-->
      <header>
        <div class="container" id="fadeContainer">
          <div class="img-circle img1"></div>
          <div class="img-circle img2" id="fadeImage""></div>
        </div>
        <!-- <img class="img-circle" src="../images/avatar2.png"> -->
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        <h4>Data Science & <br/>Animal Welfare</h4>
        <!--<p class="addr">&#x2709;&nbsp;&#115;&#046;&#097;&#110;&#103;&#101;&#108;&#105;&#100;&#105;&#115;&#064;&#101;&#100;&#046;&#097;&#099;&#046;&#117;&#107;</p>-->
<!--        <p>
        Room 4.29<br/>
        Informatics Forum<br/>
        10 Crichton Street<br/>
        Edinburgh, UK<br/>
        EH8 9AB
</p>-->
        <p class="addr"><span id="emllnk"></span></p>
        <script>
            const user = 'dilegnats';
            const domain = 'liamg';
            const suffix = 'moc.';

            const a = user.split("").reverse().join("");
            const b = domain.split("").reverse().join("");
            const c = suffix.split("").reverse().join("");
            const lnk = `${a}@${b}${c}`;
            document.getElementById('emllnk').innerHTML = lnk;
        </script>
		    <p class="link"><b><a target="_blank" href="https://scholar.google.co.uk/citations?user=vtFGk-MAAAAJ&hl=en">Google Scholar</a></b></p>
        <p class="link">
          <b><a target="_blank" href="./cv.txt">CV</a></b>
          | <b><a target="_blank" href="https://www.linkedin.com/in/stangelid">LinkedIn</a></b>
        </p>
        <p class="link">
          <b><a target="_blank" href="https://github.com/stangelid">Git</a></b>
          | <b><a target="_blank" href="https://twitter.com/stangelid">Twitter</a></b><br/>
        </p>
        <p class="link"><b><a target="_blank" href="http://edinburghnlp.inf.ed.ac.uk/">EdinburghNLP</a></b></p><br/>
        <!-- <img class="img-circle" src="../images/jerry.jpg"> -->
      </header>
	  <!--googleon: snippet-->
      <section id="textContainer">
      {{ content }}
      </section>
      <script>
          const fadeImage = document.getElementById('fadeImage');
          const fadeContainer = document.getElementById('fadeContainer');

          function shouldFade() {
            return window.innerWidth > 700;
          }

          function updateFade() {
            if (!shouldFade()) {
              // Reset to fully visible if fading is disabled
              fadeImage.style.opacity = 0;
              return;
            }

            const rect = fadeContainer.getBoundingClientRect();
            fadeContainer.style.height = rect.width + 'px';
            const windowHeight = window.innerHeight;
            const visibleHeight = Math.max(0, windowHeight - rect.top);
            const fadeAmount = Math.min(1, Math.max(0, visibleHeight / rect.height));

            const scrollTop = window.scrollY;
            const fadeStart = 0; // start fade at top
            const fadeEnd = window.innerHeight; // fully faded in after 1 viewport height
            const opacity = Math.min(1, Math.max(0, (scrollTop - fadeStart) / (fadeEnd - fadeStart)));
            fadeImage.style.opacity = opacity;
          }
          window.addEventListener('scroll', updateFade);
          window.addEventListener('resize', updateFade); // Recalculate on resize
          updateFade(); // Initial calculation
        </script>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>


<!--  {% if site.google_analytics %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
  {% endif %}-->
  </body>
</html>
